body {
	margin: 0;
	background-color: rgb(71, 65, 65) !important;
}

.marco {
	width: 25vh;
	height: 25vh;
	padding: 0px;
	margin-bottom: 20px;
	border: 0px !important;
	border-color: rgb(0, 189, 236);
	border-radius: 20px;
	background-image: url(../img/logo.jpg);
	background-size: 100%;
	float: left;
	position: relative;
	overflow: hidden;
}

#imagen1,
#imagen2,
#imagen3,
#imagen4,
#imagen5,
#imagen6,
#imagen7,
#imagen8,
#imagen9,
#imagen10,
#imagen11,
#imagen12 {
	height: 100%;
	width: 100%;
	border: 2px solid transparent;
	border-radius: 20px;
	border-color: rgb(0, 189, 236);
	user-select: none;
	opacity: 1;
	transition: opacity 500ms;
}

#iniciar-juego,
#reiniciar-juego {
	width: 50px;
	height: 50px;
	width: 100%;
	font-size: 22px;
	margin-left: 8px;
	margin-top: 30px;
	background-color: green;
}

#barra-informativa {
	margin-right: 20px;
	border: 20px;
}
#notificaciones,
#ronda {
	width: auto;
	height: auto;
	width: 100%;
}

#iniciar-juego:hover {
	background-color: aqua;
	color: black;
}
#reiniciar-juego:hover {
	background-color: aqua;
	color: black;
}

.ocultar {
	opacity: 0 !important;
	cursor: not-allowed;
	pointer-events: none;
	transition: opacity 1000ms !important;
}
.bloquear {
	pointer-events: none;
}
.desaparecer {
	opacity: 0 !important;
}

#ganar {
	color: yellow;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgb(7, 7, 7);
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px rgba(247, 245, 245, 0.75);
}
.oculto {
	display: none;
}
